# Python
backend/venv/
__pycache__/
*.py[cod]

# Django
backend/db.sqlite3
backend/staticfiles/
backend/media/

# Environment Variables
backend/.env
client/.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db